/JRPGDatabase/build/
/JRPGDatabase/dist/
/JRPGDatabase/nbproject/build-impl.xml
/JRPGDatabase/nbproject/genfiles.properties
/JRPGDatabase/nbproject/private/
/JRPGMaker/build/
/JRPGMaker/dist/
/JRPGMaker/nbproject/build-impl.xml
/JRPGMaker/nbproject/genfiles.properties
/JRPGMaker/nbproject/private/
/JRPGGame/build/
/JRPGGame/dist/
/JRPGGame/nbproject/build-impl.xml
/JRPGGame/nbproject/genfiles.properties
/JRPGGame/nbproject/private/
