/JRPGDatabase/build/
/JRPGDatabase/dist/
/JRPGDatabase/nbproject/build-impl.xml
/JRPGDatabase/nbproject/genfiles.properties
/JRPGDatabase/nbproject/private/
/JRPGMaker/build/
/JRPGMaker/dist/
/JRPGMaker/nbproject/private/
/JRPGMaker/nbproject/build-impl.xml
/JRPGMaker/nbproject/genfiles.properties
/JRPGMapBuilder/
/JRPGMapBuilder/build/
/JRPGMapBuilder/dist/
/JRPGMapBuilder/nbproject/private/
/JRPGMapBuilder/nbproject/build-impl.xml
/JRPGMapBuilder/nbproject/genfiles.properties
